$icomoon-font-path: "../font" !default;

@font-face {
	font-family: 'selector';
    src:    url('#{$icomoon-font-path}/selector.ttf?t70klh') format('truetype'),
            url('#{$icomoon-font-path}/selector.woff?t70klh') format('woff'),
            url('#{$icomoon-font-path}/selector.svg?t70klh#selector') format('svg');
}